<div *ngIf="isClose" class="transition-all ease-in-out bg-white p-20 flex flex-col rounded-3xl relative ">
    <div class="absolute top-4 left-96">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
            class="w-6 h-6 cursor-pointer font-extrabold bg-black text-white" (click)="isCloseClick()">
            <path stroke-linecap="round" stroke-linejoin="round"  d="M6 18 18 6M6 6l12 12" />
        </svg>
    </div>
    <div>
        <h1 class="text-4xl font-semibold">{{innerBody.authtype}}</h1>
        <div class="text-center mt-10 "><i class="fa fa-users" aria-hidden="true"></i></div>
        <div>
            <form class="mt-10" [formGroup]="reqBody" (ngSubmit)="isClickForm()">

                <div>
                    <div>
                       
                        <input type="email"  formControlName="email" [class.invalid]="reqBody.get('email')?.invalid && (reqBody.get('email')?.dirty || reqBody.get('email')?.touched || isSubmitted)" name="username" id="" placeholder="Enter Email . . . "
                            class="outline-none  bg-slate-200 m-5 ml-5 px-5 py-3 rounded-2xl">
                    </div>
                    <div>
                       
                        <input type="password"  formControlName="password" [class.invalid]="reqBody.get('password')?.invalid && (reqBody.get('password')?.dirty || reqBody.get('password')?.touched || isSubmitted)" name="username" id="" placeholder="Enter password . . . "
                            class="outline-none bg-slate-200 m-5 ml-5 px-5 py-3 rounded-2xl">
                    </div>
                </div>
                <button type="submit" (click)="onClick()" class="text-white rounded-2xl bg-green-400  text-xl mt-5 ml-5 px-10 py-1">
                    Allow me</button>
            </form>
            <span class=" cursor-pointer font-thin  mt-10 ml-10" (click)="redire()">Forget<span
                    class="font-normal ml-2">username/password</span></span>
        </div>
    </div>
</div>