<div class="bg-[#fdf2ec] min-w min-h-screen p-10 relative" >
<div class=" fixed flex justify-center h-full items-center w-full z-50">
    <app-register></app-register>
    <app-login></app-login>
</div>

    <div class="container mx-auto mt-10 absolute left-40">
        <app-nav-bar></app-nav-bar>
        <app-body></app-body>
        
    </div>
</div>
<div class="bg-[#ecf7fd] min-h-screen min-w-full absolute">
    <div class='z-50 container mx-auto p-20'>
       <app-section2></app-section2>
    </div> 
    <!-- <div class="w-full min-h-screen bg-[#fdf2ec] absolute">
        <app-section3></app-section3>
    </div> -->
</div>

