.img {
  width: 450px;
  height: 305px;
  border-radius: 1px;
  border-radius: 100%;
  border: 5px solid #222222;
}
.image {
  width: 450px;
  height: 295px;
  border-radius: 100%;
  object-fit: cover;
}
