<div class="mt-20">
    <div class="flex flex-col relative">
        <div class="border-4 w-[29rem] h-[25rem] border-[#e3b4fa] bg-white rounded-3xl absolute left-96">
            <p class=" p-5  font-semibold tracking-wider bg-white text-2xl">
                In today's world, software development companies are becoming increasingly important as technology continues to advance.
                In this article, we will discuss a software development company, which specializes in developing innovative software
                solutions for businesses across various industries
            </p>
        </div>
        <div class="border-b-4   border w-2/12 border-black bg-white rounded-3xl absolute left-[50rem] top-80">
                <div class="bg-black text-white">>50</div>
            <p class="p-5  font-semibold tracking-wider bg-white text-2xl">
                software development services, including web application development
            </p>
        </div>
        <div class="border-b-4   border w-2/12 border-black bg-white rounded-3xl absolute left-[31rem] top-[30rem]">
            <p  class="p-5  font-semibold tracking-wider bg-white text-2xl">
                implementation of your orders with all tasks in mind
            </p>
        </div>
    </div>
</div>